.card {
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
  background-color: $color-02;
  border-radius: $border-radius;
  border: $border-thickness solid $border-color;
  color: $font-color-light;

  .card-header {
    display: flex;
    padding: 5px;
    margin: 0 10px;
    border-bottom: $border-thickness solid $border-color;
    font-size: $font-xl;
    font-weight: 400;
  }
  
  .card-body {
    @include centerElement;
    padding: 10px 15px;
  }
  
  .card-footer {
    @include centerElement;
    padding: 5px;
    margin: 0 10px;
    border-top: $border-thickness solid $border-color;
  }
}

